<a href="https://colab.research.google.com/github/RahulAyyoru/2216138-AIMLBootCamp/blob/main/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
str1='Rahul is a good boy '
print(str1.upper())

print(str1.lower())

print(str1.title())

print(str1.capitalize())

#strip
s='aaaaarahulaaaa'
print(s.strip('a'))
print(s.lstrip('a'))
print(s.rstrip('a'))

#count
print(s.count('a'))


k=str1.isalnum()
print(k)
k=str1.isalpha()
print(k)

RAHUL IS A GOOD BOY
rahul is a good boy
Rahul Is A Good Boy
Rahul is a good boy
rahul
rahulaaaa
aaaaarahul
10
False
False

In [2]:
l=[1,2,3,'rahul','apple']
print(l)
#methods of adding an elements into the list
l.append(2.3)
print(l)

l.insert(2,9.5)
print(l)

l.extend([4,5,6])
print(l)
#Methods to delete the list elements
l.pop()
print(l)
l.pop(0)
print(l)
l.remove(3)
print(l)

#reversing
l.reverse()
print(l)

#index
print(l.index('rahul'))
l.clear()
print(l)

[1, 2, 3, 'rahul', 'apple']
[1, 2, 3, 'rahul', 'apple', 2.3]
[1, 2, 9.5, 3, 'rahul', 'apple', 2.3]
[1, 2, 9.5, 3, 'rahul', 'apple', 2.3, 4, 5, 6]
[1, 2, 9.5, 3, 'rahul', 'apple', 2.3, 4, 5]
[2, 9.5, 3, 'rahul', 'apple', 2.3, 4, 5]
[2, 9.5, 'rahul', 'apple', 2.3, 4, 5]
[5, 4, 2.3, 'apple', 'rahul', 9.5, 2]
4
[]

In [3]:
t=(1,2,3,'rahul',1,1,2.5)
print(t)
print('The value 1 is repeated',t.count(1),'times in the tuple')
print('The index of value rahul is :',t.index('rahul'))

(1, 2, 3, 'rahul', 1, 1, 2.5)
The value 1 is repeated 3 times in the tuple
The index of value rahul is : 3

In [5]:
bd={'name':'rahul','age':20,'phnno':9898989898}
print(bd)

print(bd.keys())

print(bd.values())

bd.pop('name')
print(bd)

bd.popitem()
print(bd)
x=bd.copy()
print(x)

x.update({'address':'Hyderabad'})
print(x)

print(x.items())

x.clear()
print(x)

{'name': 'rahul', 'age': 20, 'phnno': 9898989898}
dict_keys(['name', 'age', 'phnno'])
dict_values(['rahul', 20, 9898989898])
{'age': 20, 'phnno': 9898989898}
{'age': 20}
{'age': 20}
{'age': 20, 'address': 'Hyderabad'}
dict_items([('age', 20), ('address', 'Hyderabad')])
{}

In [6]:
s={1,2,3,'rahul',2.5}
p={}
print(s)
s.add(4)
print(s)
l=(3,5.6,'rahul')
print(s.union(l))

print(s.intersection(l))

print(s.difference(l))

s.remove('rahul')

s.update({25,'rahul'})

p=s.copy
print(p)

{1, 2.5, 2, 3, 'rahul'}
{1, 2.5, 2, 3, 4, 'rahul'}
{1, 2.5, 2, 3, 4, 5.6, 'rahul'}
{3, 'rahul'}
{1, 2.5, 2, 4}
<built-in method copy of set object at 0x7fce70f64aa0>

In [7]:
k=25
print(bin(k))
print(oct(k))
print(hex(k))

0b11001
0o31
0x19

In [8]:
a=int(input('Enter a number'))
b=int(input('Enter another number'))
#addition
print(a+b)
#substraction
print(a-b)
#multiplication
print(a*b)
#division
print(a/b)
#floor divisoin
print(a//b)
#power
print(a**3)

Enter a number10
Enter another number9
19
1
90
1.1111111111111112
1
1000

In [9]:
a=10
b=20
print('a , b')
print(a,b)
a+=b
print(a,b)
a-=b
print(a,b)
a*=b
print(a,b)
a/=b
print(a,b)
a//=b
print(a,b)

a , b
10 20
30 20
10 20
200 20
10.0 20
0.0 20

In [10]:
a=10
b=20
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)
print(a!=b)

False
True
False
True
True

In [11]:
a,b=10,20
print(a>b and b>a)
print(a>b or b>a)
print(not (a>b))

False
True
True

In [12]:
a=2
b=3
print(a&b)
print(a|b)
print(~a)
print(a<<2)
print(b>>3)

2
3
-3
8
0

In [13]:
s='Gradstellar'
print('a' in s)
print('c' not in s)

True
True

In [14]:
a=10
b=20
print(a is b)
print(a is not b)

False
True

In [15]:
l=[1,2,3,4]
print(l[-1])
print(l[-1::-1])
print(l[:])
print(l[0:])
print(l[1:3:1])

4
[4, 3, 2, 1]
[1, 2, 3, 4]
[1, 2, 3, 4]
[2, 3]

In [17]:
print('A series of characters designated as one object known as a string'[::-1][4::3])
print("..............")
print('Welcome to python traing program'[3:10][::-1])

taawkcbe  tgestrcoeeA
..............
ot emoc

In [18]:
s="was it a car or a cat I saw"
k=s[::-1]
print(k.upper())

WAS I TAC A RO RAC A TI SAW

In [19]:
x='z'
y='o'
x1=int(input('Enter how many times u want z'))
y1=2*x1
for i in range(0,x1):
  print(x,end='')
for i in range(0,y1):
  print(y,end='')

Enter how many times u want z4
zzzzoooooooo