<a href="https://colab.research.google.com/github/RahulAyyoru/2216138-AIMLBootCamp/blob/main/Copy_of_SUV_Logist%26KNN_Clf.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

dataset="/content/drive/MyDrive/SUV_Purchase.csv"
df=pd.read_csv(dataset)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [ ]:
df.head(20)

     User ID  Gender  Age  EstimatedSalary  Purchased
0   15624510    Male   19            19000          0
1   15810944    Male   35            20000          0
2   15668575  Female   26            43000          0
3   15603246  Female   27            57000          0
4   15804002    Male   19            76000          0
5   15728773    Male   27            58000          0
6   15598044  Female   27            84000          0
7   15694829  Female   32           150000          1
8   15600575    Male   25            33000          0
9   15727311  Female   35            65000          0
10  15570769  Female   26            80000          0
11  15606274  Female   26            52000          0
12  15746139    Male   20            86000          0
13  15704987    Male   32            18000          0
14  15628972    Male   18            82000          0
15  15697686    Male   29            80000          0
16  15733883    Male   47            25000          1
17  15617482    Male   45            26000          1
18  15704583    Male   46            28000          1
19  15621083  Female   48            29000          1

In [ ]:
df=df.drop('User ID',axis=1)
df=df.drop('Gender',axis=1)

In [ ]:
df

     Age  EstimatedSalary  Purchased
0     19            19000          0
1     35            20000          0
2     26            43000          0
3     27            57000          0
4     19            76000          0
..   ...              ...        ...
395   46            41000          1
396   51            23000          1
397   50            20000          1
398   36            33000          0
399   49            36000          1

[400 rows x 3 columns]

Data Preprocessing -Cleaning and organizing raw data

In [ ]:
x=df.iloc[:,:-1].values
y=df.iloc[:,-1:].values

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [ ]:
x_train

array([[    58, 144000],
       [    59,  83000],
       [    24,  55000],
       [    26,  35000],
       [    58,  38000],
       [    42,  80000],
       [    40,  75000],
       [    59, 130000],
       [    46,  41000],
       [    41,  60000],
       [    42,  64000],
       [    37, 146000],
       [    23,  48000],
       [    25,  33000],
       [    24,  84000],
       [    27,  96000],
       [    23,  63000],
       [    48,  33000],
       [    48,  90000],
       [    42, 104000],
       [    44,  39000],
       [    32, 120000],
       [    38,  50000],
       [    32, 135000],
       [    52,  21000],
       [    53, 104000],
       [    39,  42000],
       [    38,  61000],
       [    36,  50000],
       [    36,  63000],
       [    35,  25000],
       [    35,  50000],
       [    42,  73000],
       [    47,  49000],
       [    59,  29000],
       [    49,  65000],
       [    45, 131000],
       [    31,  89000],
       [    46,  82000],
       [    47,  51000],
       [    26,  15000],
       [    60, 102000],
       [    38, 112000],
       [    40, 107000],
       [    42,  53000],
       [    35,  59000],
       [    48,  41000],
       [    48, 134000],
       [    38, 113000],
       [    29, 148000],
       [    26,  15000],
       [    60,  42000],
       [    24,  19000],
       [    42, 149000],
       [    46,  96000],
       [    28,  59000],
       [    39,  96000],
       [    28,  89000],
       [    41,  72000],
       [    45,  26000],
       [    33,  69000],
       [    20,  82000],
       [    31,  74000],
       [    42,  80000],
       [    35,  72000],
       [    33, 149000],
       [    40,  71000],
       [    51, 146000],
       [    46,  79000],
       [    35,  75000],
       [    38,  51000],
       [    36,  75000],
       [    37,  78000],
       [    38,  61000],
       [    60, 108000],
       [    20,  82000],
       [    57,  74000],
       [    42,  65000],
       [    26,  80000],
       [    46, 117000],
       [    35,  61000],
       [    21,  68000],
       [    28,  44000],
       [    41,  87000],
       [    37,  33000],
       [    27,  90000],
       [    39,  42000],
       [    28, 123000],
       [    31, 118000],
       [    25,  87000],
       [    35,  71000],
       [    37,  70000],
       [    35,  39000],
       [    47,  23000],
       [    35, 147000],
       [    48, 138000],
       [    26,  86000],
       [    25,  79000],
       [    52, 138000],
       [    51,  23000],
       [    35,  60000],
       [    33, 113000],
       [    30, 107000],
       [    48,  33000],
       [    41,  80000],
       [    48,  96000],
       [    31,  18000],
       [    31,  71000],
       [    43, 129000],
       [    59,  76000],
       [    18,  44000],
       [    36, 118000],
       [    42,  90000],
       [    47,  30000],
       [    26,  43000],
       [    40,  78000],
       [    46,  59000],
       [    59,  42000],
       [    46,  74000],
       [    35,  91000],
       [    28,  59000],
       [    40,  57000],
       [    59, 143000],
       [    57,  26000],
       [    52,  38000],
       [    47, 113000],
       [    53, 143000],
       [    35,  27000],
       [    58, 101000],
       [    45,  45000],
       [    23,  82000],
       [    46,  23000],
       [    42,  65000],
       [    28,  84000],
       [    38,  59000],
       [    26,  84000],
       [    29,  28000],
       [    37,  71000],
       [    22,  55000],
       [    48,  35000],
       [    49,  28000],
       [    38,  65000],
       [    27,  17000],
       [    46,  28000],
       [    48, 141000],
       [    26,  17000],
       [    35,  97000],
       [    39,  59000],
       [    24,  27000],
       [    32,  18000],
       [    46,  88000],
       [    35,  58000],
       [    56,  60000],
       [    47,  34000],
       [    40,  72000],
       [    32, 100000],
       [    19,  21000],
       [    25,  90000],
       [    35,  88000],
       [    28,  32000],
       [    50,  20000],
       [    40,  59000],
       [    50,  44000],
       [    35,  72000],
       [    40, 142000],
       [    46,  32000],
       [    39,  71000],
       [    20,  74000],
       [    29,  75000],
       [    31,  76000],
       [    47,  25000],
       [    40,  61000],
       [    34, 112000],
       [    38,  80000],
       [    42,  75000],
       [    47,  47000],
       [    39,  75000],
       [    19,  25000],
       [    37,  80000],
       [    36,  60000],
       [    41,  52000],
       [    36, 125000],
       [    48,  29000],
       [    36, 126000],
       [    51, 134000],
       [    27,  57000],
       [    38,  71000],
       [    39,  61000],
       [    22,  27000],
       [    33,  60000],
       [    48,  74000],
       [    58,  23000],
       [    53,  72000],
       [    32, 117000],
       [    54,  70000],
       [    30,  80000],
       [    58,  95000],
       [    26,  52000],
       [    45,  79000],
       [    24,  55000],
       [    40,  75000],
       [    33,  28000],
       [    44, 139000],
       [    22,  18000],
       [    33,  51000],
       [    43, 133000],
       [    24,  32000],
       [    46,  22000],
       [    35,  55000],
       [    54, 104000],
       [    48, 119000],
       [    35,  53000],
       [    37, 144000],
       [    23,  66000],
       [    37, 137000],
       [    31,  58000],
       [    33,  41000],
       [    45,  22000],
       [    30,  15000],
       [    19,  19000],
       [    49,  74000],
       [    39, 122000],
       [    35,  73000],
       [    39,  71000],
       [    24,  23000],
       [    41,  72000],
       [    29,  83000],
       [    54,  26000],
       [    35,  44000],
       [    37,  75000],
       [    29,  47000],
       [    31,  68000],
       [    42,  54000],
       [    30, 135000],
       [    52, 114000],
       [    50,  36000],
       [    56, 133000],
       [    29,  61000],
       [    30,  89000],
       [    26,  16000],
       [    33,  31000],
       [    41,  72000],
       [    36,  33000],
       [    55, 125000],
       [    48, 131000],
       [    41,  71000],
       [    30,  62000],
       [    37,  72000],
       [    41,  63000],
       [    58,  47000],
       [    30, 116000],
       [    20,  49000],
       [    37,  74000],
       [    41,  59000],
       [    49,  89000],
       [    28,  79000],
       [    53,  82000],
       [    40,  57000],
       [    60,  34000],
       [    35, 108000],
       [    21,  72000],
       [    38,  71000],
       [    39, 106000],
       [    37,  57000],
       [    26,  72000],
       [    35,  23000],
       [    54, 108000],
       [    30,  17000],
       [    39, 134000],
       [    29,  43000],
       [    33,  43000],
       [    35,  38000],
       [    41,  45000],
       [    41,  72000],
       [    39, 134000],
       [    27, 137000],
       [    21,  16000],
       [    26,  32000],
       [    31,  66000],
       [    39,  73000],
       [    41,  79000],
       [    47,  50000],
       [    41,  30000],
       [    37,  93000],
       [    60,  46000],
       [    25,  22000],
       [    28,  37000],
       [    38,  55000],
       [    36,  54000],
       [    20,  36000],
       [    56, 104000],
       [    40,  57000],
       [    42, 108000],
       [    20,  23000],
       [    40,  65000],
       [    47,  20000],
       [    18,  86000],
       [    35,  79000],
       [    57,  33000],
       [    34,  72000],
       [    49,  39000],
       [    27,  31000],
       [    19,  70000],
       [    39,  79000],
       [    26,  81000],
       [    25,  80000],
       [    28,  85000],
       [    55,  39000],
       [    50,  88000],
       [    49,  88000],
       [    52, 150000],
       [    35,  65000],
       [    42,  54000],
       [    34,  43000],
       [    37,  52000],
       [    48,  30000],
       [    29,  43000],
       [    36,  52000],
       [    27,  54000],
       [    26, 118000]])

In [ ]:
y_train

array([[1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0]])

In [ ]:
from sklearn.preprocessing import StandardScaler
sst=StandardScaler()

x_train = sst.fit_transform(x_train)

In [ ]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()
model.fit(x_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression()

In [ ]:
#predicting
y_pred = model.predict(sst.transform(x_test))

In [ ]:
print("Predicted value of training data:",model.score(x_train,y_train))
print("Predicted value of training data:",model.score(sst.transform(x_test),y_test))

Predicted value of training data: 0.821875
Predicted value of training data: 0.925

In [ ]:
accuracy= model.score(x,y)*100
print(accuracy)

35.75

Deployment - Bringing our ML model into existence(action)

In [ ]:
age =int(input("Enter age:"))
est_sal= int(input("Enter estimated salary:"))
output=model.predict(sst.transform([[age,est_sal]]))
print(output)
if output[0]==1:
  print("The person will purchase an SUV")
else:
  print("The person wont purchase an SUV")

Enter age:22
Enter estimated salary:5000
[0]
The person wont purchase an SUV