In [2]:
#nested loops

x=[[12,7,3],
  [4,5,6],
  [7,8,9]]

y=[[5,8,1],
   [1,1,0],
   [5,3,7]]

res=[[0,0,0],[0,0,0],[0,0,0]]

for i in range(len(x)):
    for j in range(len(x[0])):
        res[i][j]=x[i][j]+y[i][j]
for r in res:
    print(r)

[17, 15, 4]
[5, 6, 6]
[12, 11, 16]

In [5]:
#Printing upto n tables
num=int(input("Enter the last table u want:"))
i=1
while(i<=num):
    print(f"TABLE {i}") #raw string
    j=1
    while(j<=10):
        print(f"{i}*{j}={i*j}")
        j=j+1
    print("----------------------")
    i+=1

Enter the last table u want:3
TABLE 1
1*1=1
1*2=2
1*3=3
1*4=4
1*5=5
1*6=6
1*7=7
1*8=8
1*9=9
1*10=10
----------------------
TABLE 2
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20
----------------------
TABLE 3
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30
----------------------

In [9]:
#Control stmts
#break

for l in 'python':
    if l =='h':
        break
    print("Current letter:",l)
print("\n")

#continue
int1=10
while(int1>0):
    print("Current value:",int1)
    int1-=1
    if int1==5:
        continue
print("\n")

Current letter: p
Current letter: y
Current letter: t


Current value: 10
Current value: 9
Current value: 8
Current value: 7
Current value: 6
Current value: 5
Current value: 4
Current value: 3
Current value: 2
Current value: 1

In [12]:
#Control stmts
#break

for l in 'python':
    if l =='h':
        pass
        print("This is pass block")
    print(l)
print("\n")

int1=10
while(int1>0):
    print("Current value:",int1)
    int1-=1
    if int1==5:
        continue
print("\n")

p
y
t
This is pass block
h
o
n


Current value: 10
Current value: 9
Current value: 8
Current value: 7
Current value: 6
Current value: 5
Current value: 4
Current value: 3
Current value: 2
Current value: 1

In [19]:
n=input("Enter the number:")
m=n[::-1]
if(n==m):
    print("Its Palindrome")
else:
    print("Not a palindrome")

Enter the number:121
Its Palindrome

In [36]:
for n in range(100):
    m=str(n)
    if(m==m[::-1]):
        print(n,"=Palindrome")

0 =Palindrome
1 =Palindrome
2 =Palindrome
3 =Palindrome
4 =Palindrome
5 =Palindrome
6 =Palindrome
7 =Palindrome
8 =Palindrome
9 =Palindrome
11 =Palindrome
22 =Palindrome
33 =Palindrome
44 =Palindrome
55 =Palindrome
66 =Palindrome
77 =Palindrome
88 =Palindrome
99 =Palindrome

In [42]:
l=[1,2,3,4,5,6,7,8,9,10]
e=[]
o=[]
for i in range(len(l)):
    if i%2==0:
        e.append(i)
    else:
        o.append(i)
print(e)
print(o)

[0, 2, 4, 6, 8]
[1, 3, 5, 7, 9]

In [51]:
'''Write a python program that generates desired output i.e,
from countries list select out the country names that contain
string “and”

Countries_list=[“Finland”,”Germany”,”Sweden”,”Ireland”,”Turkey”]
Output: [“Finland”,”Ireland”]'''

c=["Finland","Germany","Sweden","Ireland","Turkey"]
output=[]
for i in c:
    if 'and' in i:
        output.append(i)
print(output)

['Finland', 'Ireland']

In [59]:
'''Write a python program that print respective grades of student:
Grade – Outstanding  for marks>=90
Grade A+ for marks >=80, <90
Grade A for marks >=70, <80
Grade B for marks >=60 and <70

<60 Grade C'''

marks=int(input("Enter your marks"))
if marks >=90 and marks<=100:
    print("Grade=O")
elif marks >=80 and marks<90:
    print("Grade=A+")
elif marks >=70 and marks<80:
    print("Grade=A")
elif marks >=60 and marks<70:
    print("Grade=B")
elif marks<60:
    print("Grade=C")
else:
    print("Enter valid marks")

Enter your marks93
Grade=O

In [74]:
'''Create a list with name state list with 5 elements
State_list = [“Delhi”,”Telangana”,”Goa”,”AP”,”Kerala”]
Write a python program that extract first and last characters of each item and print in desired format.
Input: [“Delhi”,”Telangana”,”Goa”,”AP”,”Kerala”
Output: dItAgAaOkA '''

inp=["Delhi","Telangana","Goa","AP","Kerala"]
out=[]
for s in inp:
    out.append(s[0])
    out.append(s[len(s)-1])
print(out)
str="".join(out)
#print(str)
print(str.swapcase())

['D', 'i', 'T', 'a', 'G', 'a', 'A', 'P', 'K', 'a']
dItAgAapkA

In [72]:
'''Create a list with name state list with 5 elements
State_list = [“Delhi”,”Telangana”,”Goa”,”AP”,”Kerala”]
Write a python program that extract first and last characters of each item and print in desired format.
Input: [“Delhi”,”Telangana”,”Goa”,”AP”,”Kerala”
Output: dItAgAaOkA '''

inp=["Delhi","Telangana","Goa","AP","Kerala"]
str=""
for i in inp:
    str+=i[0].swapcase()+i[-1].swapcase()
print(str)

dItAgAapkA

In [6]:
#user defined function
def greet(name):
    print(f"Hello,\t {name} \tGM")
greet("RAHUL")

Hello,	 RAHUL 	GM

In [10]:
#arbitrary keyword
def key_arg(**kwargs):
    return kwargs
my_dict=key_arg(apples=10,oranges=20,bananas=30)
print(my_dict)

{'apples': 10, 'oranges': 20, 'bananas': 30}

In [18]:
#lambda

res=lambda x:x+1
print(res(4))

print((lambda x,y:x**y)(2,3))

5
8

In [20]:
# mapping

li=[1,2,3,4,5]
#res=lambdax:x+2
#print(res(li))

In [24]:
def inc(num):
    return num+2
res_list=list(map(inc,li))
print(res_list)

res_list1=list(map(lambda x:x+2,li))
print(res_list1)

print(list(map(lambda x:x+2,li)))

[3, 4, 5, 6, 7]
[3, 4, 5, 6, 7]
[3, 4, 5, 6, 7]

In [25]:
li=[1,2,3,4,5,6,7,8,9,10]
print(list(map(lambda x:x%2==0,li)))
print(list(map(lambda x:x%2==1,li)))

[False, True, False, True, False, True, False, True, False, True]
[True, False, True, False, True, False, True, False, True, False]

In [32]:
li=['apple','banana','grapes']
list(map(lambda x:x.capitalize(),li)) # or titile()

['Apple', 'Banana', 'Grapes']

In [41]:
#filter

def odd_num(n):
    if n%2!=0:
        return n
my_list=[9,26,35,-2,-1,0]
list(filter(odd_num,my_list))

my_list=[12,34,71,91,83,22,34,99,100]
temp=list(filter(lambda x:x%2==0,my_list))
print(temp)

[12, 34, 22, 34, 100]

# module

In [42]:
import os
os.mkdir("Hi")
os.chdir("Hi")
os.getcwd()
os.listdir()
os.rmdir("/content/hi")

FileNotFoundError: [WinError 3] The system cannot find the path specified: '/content/hi'

In [49]:
# math module
import math as m
print(m.pi)
print(m.e)
print(m.sqrt(3))
print(m.floor(7.1))
print(m.ceil(7.1))

3.141592653589793
2.718281828459045
1.7320508075688772
7
8

In [50]:
#sys module
import sys
print(sys.path)
print(sys.version)
print(sys.maxsize)

['C:\\Users\\Rahul', 'C:\\Users\\Rahul\\anaconda3\\python39.zip', 'C:\\Users\\Rahul\\anaconda3\\DLLs', 'C:\\Users\\Rahul\\anaconda3\\lib', 'C:\\Users\\Rahul\\anaconda3', '', 'C:\\Users\\Rahul\\anaconda3\\lib\\site-packages', 'C:\\Users\\Rahul\\anaconda3\\lib\\site-packages\\win32', 'C:\\Users\\Rahul\\anaconda3\\lib\\site-packages\\win32\\lib', 'C:\\Users\\Rahul\\anaconda3\\lib\\site-packages\\Pythonwin']
3.9.12 (main, Apr  4 2022, 05:22:27) [MSC v.1916 64 bit (AMD64)]
9223372036854775807

In [61]:
import statistics as st
print(st.mean([1,2,3,4,5]))
print(st.median([1,2,3,4,5]))
print(st.mode([1,2,3,4,5]))

3
3
1

In [67]:
#time module
import time
print(time.time())
print(time.localtime())
print(time.asctime())
print(time.ctime())
print(time.sleep(1.5))

1655201676.2728543
time.struct_time(tm_year=2022, tm_mon=6, tm_mday=14, tm_hour=15, tm_min=44, tm_sec=36, tm_wday=1, tm_yday=165, tm_isdst=0)
Tue Jun 14 15:44:36 2022
Tue Jun 14 15:44:36 2022
None

In [74]:
#random module
import random
print(random.randrange(1,50))
print(random.randint(1,50))
print(random.random())

25
1
0.5057567000785264

In [79]:
#Game with random module

import random
g_num=random.randint(0,5)
g2_num=int(input("Guess...!"))
if g2_num==g_num:
    print("Hurrah...!")
else:
    print("LOST")

Guess...!3
LOST

In [91]:
'''Write a python program that remove items that are multiples of 5 from list:li=[1,2,5,6,7,10,15,25,65,78,90]o/p: [1,2,6,7,78]
'''
li=[1,2,5,6,7,10,15,25,65,78,90]
print(list(filter(lambda x:x%5!=0,li)))

[1, 2, 6, 7, 78]

In [111]:
li=[1,2,5,6,7,10,15,25,65,78,90]
for i in li[:]: # if no ':' then the nxt element will be skipped
    if i%5==0:
        li.remove(i)
print(li)

[1, 2, 6, 7, 78]

In [98]:
'''Write a python program that generates desired output from fruits list. Filter out the fruits names that don’t start with ‘A’
Fruit=[“Apple”,”Banana”,”Pear”,”Avacado”,”Orange”,”Amla”]
Output: [“Apple”,”Avacado”,”Amla”]'''

fruit=["Apple","Banana","Pear","Avacado","Orange","Amla"]
res=list(filter(lambda x:x.startswith('A'),fruit))
print(res)

['Apple', 'Avacado', 'Amla']

In [102]:
'''Msg=”Welcome to gradstellar bootcamp”
X=”number of occurrences of ‘o’ in msg”
Y=”number of occurrences of ‘e’ in msg”
Compute (X+Y)2'''

msg="Welcome to gradstellar bootcamp"
x=msg.count('o')
y=msg.count('e')
print((x+y)**2)

49

In [105]:
'''Write python program that filters a list by removing the elements that not start with vowel. 
I/P: [‘apple’,’orange’,’grapes’,’ball’,’bat’,’umbrella’]
O/P: [‘apple’,’orange’,’umbrella’]'''

inp=["apple","orange","grapes","ball","bat","umbrella"]
print(list(filter(lambda x:x[0] in 'AEIOUaeiou',inp)))

['apple', 'orange', 'umbrella']

In [106]:
'''Write a python program that displays unique element in a given list using function
Li=[56,78,32,45,45,45,19,20]
O/P: [56,78,32,45,19,20]'''

li=[56,78,32,45,45,45,19,20]
print(set(li))

{32, 45, 78, 19, 20, 56}